@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    Layout = "_LayoutQuote";
    ViewData["Title"] = $"Overview";
    ViewBag.Page = 2;
}
<div class="m-2">
    <p>@Model.ContactName</p>
    <p>@Model.Location</p>
    <br>
    <p class="mb-4">@Model.Address</p>

    <p>Dear @Model.ContactName</p>
    <br>
    <p class="text-justify">Thank you. Curabitur et ullamcorper dolor. Nam lobortis neque sit amet nulla fringilla ullamcorper. In et semper augue. Aliquam varius purus vel vestibulum elementum. Vivamus a neque hendrerit, fermentum lectus non, ornare ante. Etiam non orci sit amet ipsum scelerisque cursus non vel nisl. Quisque at libero finibus, congue ex eget, dictum mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut gravida augue elementum tortor lacinia consectetur. Nullam finibus vitae elit non cursus. Curabitur elementum dictum purus, et euismod nisl. Integer lobortis in tellus a sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque elementum metus vel tortor imperdiet, non varius sem rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam at finibus mi.</p>

    <div class="mt-5">
        <div class="row">
            <div class="col-4 quote-header">Location</div>
            <div class="col-8">@Model.Location</div>

            <div class="col-4 quote-header">Address</div>
            <div class="col-8">@Model.Address</div>

            <div class="col-4 quote-header">Room</div>
            <div class="col-8">@Model.Room</div>

            <div class="col-4 quote-header">Date</div>
            <div class="col-8">@Model.DateRange</div>
            <br>

            <div class="col-4 quote-header">Event Account Manager</div>
            <div class="col-8">@Model.AccountMgrName</div>

            <div class="col-4 quote-header">Mobile Number</div>
            <div class="col-8">@Model.AccountMgrMobile</div>

            <div class="col-4 quote-header">Email</div>
            <div class="col-8">@Model.AccountMgrEmail</div>
            <br>
            <p><i>Please confirm the following dates and times are accurate</i></p>
            <br>

            <div class="col-4 quote-header">Setup</div>
            <div class="col-4">@Model.SetupDate</div>
            <div class="col-4">@Model.SetupTime</div>

            <div class="col-4 quote-header">Reheasal</div>
            <div class="col-4">@Model.RehearsalDate</div>
            <div class="col-4">@Model.RehearsalTime</div>

            <div class="col-4 quote-header">Event Start</div>
            <div class="col-4">@Model.EventStartDate</div>
            <div class="col-4">@Model.EventStartTime</div>

            <div class="col-4 quote-header">Event End</div>
            <div class="col-4">@Model.EventEndDate</div>
            <div class="col-4">@Model.EventEndTime</div>

        </div>
    </div>
</div>
